@use "reset";

//色の登録
.color-1{
background-color: #dd8819;
}

.color-2{
background-color: #000000;
}

.color-3{
background-color: #c9e56f;
}

h1{
text-align: center;
margin: 30px 0 50px;
}

.banner-wrapper{
width: 1000px;
margin: 0 auto 50px;
display: flex;
flex-wrap: wrap;
gap: 40px;
}

.banner-box{
width: calc((100% - 40px) / 2);
margin-bottom: 70px;
}

.pc{
width: 336px;
height: 280px;
}

.sp{
width: 320px;
height: 280px;
}

.banner-info{
display: flex;
flex-wrap: wrap;
margin: 20px 0;
dt{
width: 40%;
padding: 10px;
margin-bottom: 10px;
font-weight: bold;
}
dd{
width: 60%;
padding: 10px;
margin-bottom: 10px;
span{
width: 20px;
height: 20px;
display: inline-block;
margin: 0 10px 0 20px;
&:first-of-type{
margin-left: 0;
}
}
}
}